/SandboxUnitTest2019/Debug
/SandboxUnitTest2019/SandboxUnitTest2019/Debug
/SandboxUnitTest2019/UdpClientServer/Debug
/SandboxUnitTest2019/SandboxUnitTest2019/x64
/SandboxUnitTest2019/UdpClient/x64
/SandboxUnitTest2019/UdpClientServer/x64
/SandboxUnitTest2019/x64
.vs
